.container{
  text-align: center;
}
.flex-container{
  display: block;
  margin: auto;
  width: 600px;
  font-family: "Helvetica Neue";
  background-color: lightgray;
  margin-bottom: 100px;
  text-align:center;
}
